// *Accordion
.accordion {
    &__item {
        border-bottom: 1px solid rgba(52, 50, 53, 0.18);
        &.active {
            .accordion__item-content {
                display: block;
            }
        }
    }

    &__item-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px;
        cursor: pointer;
    }

    &__item-content {
        display: none;
    }
}
// */Accordion