// *Buttons
.btn {
    display: inline-block;
    padding: 13px 35px;
    text-align: center;
    cursor: pointer;
    white-space: break-spaces;
    border: 1px solid transparent;
    border-radius: 45px;
    font-weight: 800;
    font-size: 15px;
    line-height: normal;
    color: $primary;

    @media screen and (min-width: $mobileBreakpoint)  {
        transition: .35s ease;
        path, svg {
            transition: .35s ease;
        }
    }

    svg, img {
        margin-right: 10px;
    }

    &--flex {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 19px 40px;
    }

    &--default {
        background-color: $primary;
        color: $white;

        @media screen and (min-width: $mobileBreakpoint) {
            &:hover {
                background-color: transparent;
                color: $primary;
                border-color: $primary;

                path {
                    stroke: $primary;
                }
            }
        }
    }

    &--light {
        background-color: rgba(48, 112, 166, 0.1);
        color:#3070A6;

        @media screen and (min-width: $mobileBreakpoint) {
            &:hover {
                color: $text;
                background-color: $white;
                border-color: $text;
            }
        }
    }

    &--grey {
        background-color: $grey-bg;
        color: $text;

        @media screen and (min-width: $mobileBreakpoint) {
            &:hover {
                background-color: transparent;
                border-color: $text;
            }
        }
    }

    &--secondary {
        background-color: $secondary;
        color: $white;
        &.btn--outline {
            border-color: $secondary;
        }
        @media screen and (min-width: $mobileBreakpoint) {
            &:hover {
                background-color: transparent;
                border-color: $secondary;
                color: $secondary;

                path {
                    fill: $secondary;
                }
            }
        }
    }
    
    &--outline {
        border-color: $primary;
        @media screen and (min-width: $mobileBreakpoint) {
            &:hover {
                background-color: $primary;
                color: $white;
            }
        }
    }

    &--white {
        background-color: $white;
        @media screen and (min-width: $mobileBreakpoint) {
            &:hover {
                background-color: #3070A6;
                color: $white;
                border-color: $white;
            }
        }
    }

    &--min-width {
        min-width: 175px;
    }

    &--wide {
        width: 100%;
    }

    &--sm {
        padding: 14px 30px;
    }

    &--xl {
        min-width: 243px;
        padding: 18px 45px;
    }

    &--lg {
        padding: 18px 45px;
    }

    &--lg-height {
        padding-top: 18px;
        padding-bottom: 18px;
    }

}

.employment-btn {
    display: inline-flex;
    align-items: center;
    border: 0.5px solid #D1D9EA;
    border-radius: 8px;
    padding: 8px 16px;

    img, svg {
        flex-shrink: 0;
    }

    span {
        display: inline-block;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: $primary;
        margin-left: 6px;
    }

    &--wide {
        display: flex;
    }

    @media screen and (min-width: $mobileBreakpoint) {
        transition: .3s;
        span, path {
            transition: .3s;
        }
        &:hover {
            background-color: $primary;
            border-color: transparent;
            path {
                stroke: $white;
            }
            span {
                color: $white;
            }
        }
    }
}


.visit-link {
    display: inline-flex;
    align-items: center;
    color: $primary;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    line-height: 19px;

    @media screen and (min-width: $mobileBreakpoint) {
        img, svg, span {
            transition: .3s ease;
        }
        &:hover {
            text-decoration: underline;
            img, svg {
                transform: translateX(2px);
            }
            span {
                transform: translateX(-2px);
            }
        }
    }

    img, svg {
        flex-shrink: 0;
    }
    span {
        margin-left: 10px;
    }
}

// */Buttons