.form {
    &__checkbox {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        color: $grey;
        font-family: 'Inter', sans-serif;
        margin-bottom: 18px;
        &:last-child {
            margin-bottom: 0;
        }

        span {
            margin-right: 12px;
        }
        a {
            text-decoration-line: underline;
            color: #3070A6;
        }
        input {
            display: none;
            &:checked ~ .form__checkbox-item {
                &::after {
                    opacity: 1;
                }
            }
        }
    }

    &__checkbox-item {
        display: block;
        position: relative;
        width: 24px;
        height: 24px;
        border-radius: 8px;
        border: 1px solid #D1D9EA;
        background-color: $white;
        flex-shrink: 0;
        &::after {
            position: absolute;
            content: "";
            left: 50%;
            top: 50%;
            width: 24px;
            height: 24px;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: .3s;
            background: url('../img/check.svg') center no-repeat;
        }
    }

    &__checkbox-text {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: $text-2;
    }

    &__description-item {
        span {
            color: $grey;
        }
        &--flex {
            display: inline-flex;
            align-items: center;
        }
        &.active {
            path {
                stroke: #333333;
            }
            span {
                color: #333333;
            }
        }
    }

    &__input,
    textarea {
        display: inline-block;
        background-color: $white;
        border-radius: 10px;
        padding: 21px 30px;
        border-radius: 16px;
        border: 1px solid #D1D9EA;
        font-size: 16px;
        line-height: 19px;
        color: $text;
    
        &::placeholder {
            color: $grey;
        }
        // *Дополнительные классы для валидации
        &.invalid {
            color: $red;
            border-color: $red;
    
            &::placeholder {
                color: $red;
            }
        }
        &.valid {
            color: $green;
            border-color: $green;
    
            &::placeholder {
                color: $green;
            }
        }
    }
    
    textarea {
        min-height: 150px;
    }

    &__category-field {
        width: 100%;
        position: relative;
        margin-bottom: 20px;
        input {
            width: 100%;
        }
    }

    &__category-btn {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__category-items {
        display: flex;
        flex-wrap: wrap;
        margin: -8px;
    }

    &__category-item {
        position: relative;
        margin: 8px;
        border: 1px solid #D1D9EA;
        border-radius: 8px;
        padding: 14px 60px 14px 22px;
        font-size: 16px;
        line-height: 19px;
        font-family: 'Inter', sans-serif;
    }

    &__category-item-btn {
        position: absolute;
        right: 18px;
        top: 50%;
        transform: translateY(-50%);
    }

    &__description {
        border: 1px solid #D1D9EA;
        border-radius: 12px;
        textarea {
            padding-left: 27px;
            padding-right: 18px;
            font-size: 16px;
            line-height: 19px;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            width: 100%;
            border: none;
        }
    }

    &__description-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 12px 12px 0 0;
        background-color: $grey-bg;
        padding: 11px 18px 11px 27px;
    }

    &__description-col {
        margin: -4px -12px;
        display: flex;
        align-items: center;
    }

    &__description-item {
        margin: 4px 12px;
        display: flex;
        align-items: center;

        span {
            line-height: normal;
        }
        
        svg, img {
            flex-shrink: 0;
            margin-right: 9px;
        }
    }
}
