.modal {
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(250, 252, 255, 0.68);
        backdrop-filter: blur(4px);
        display: flex;
        z-index: 20;
    }
    &__container {
        max-width: 680px;
        max-height: 90vh;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;
        margin: auto;
        width: 100%;
        padding: 15px;
    }
    &__inner {
        width: 100%;
        height: 100%;
        background-color: $white;
        padding: 28px;
        padding-bottom: 37px;
        box-shadow: 0px 4px 20px 1px rgba(200, 200, 200, 0.25);
        border-radius: 12px;
        position: relative;
    }
    &__content {
        margin: 0 auto;
    }

    &__close {
        padding: 0;
        position: absolute;
        right: 24px;
        top: 32px;
        border: none;
        background: 0;
    }

    &__title {
        font-weight: 900;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 18px;
    }
}

.modal-signup {

    &__button {
        display: block;
        background-color: rgba(59, 134, 198, 0.1);
        border-radius: 12px;
        padding: 26px;
        text-align: center;
        color: $primary;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 24px;
        img {
            margin-bottom: 12px;
        }

        @media screen and (min-width: $mobileBreakpoint) {
            transition: .3s;
            img, div {
                transition: .3s;
            }
            &:hover {
                background-color: rgba(59, 134, 198, 0.2);
                img {
                    transform: translateY(2px);
                }
                div {
                    transform: translateY(-2px);
                }
            }
        }
    }

    &__who {
        display: flex;
        background-color: $grey-bg;
        border-radius: 16px;
        margin-bottom: 16px;
        padding: 4px;
    }

    &__who-item-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 18px 20px;
        border-radius: 12px;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        color: $grey;
        transition: .3s;
        
        svg {
            flex-shrink: 0;
        }
        path {
            transition: .3s;
        }
        span {
            margin-left: 10px;
        }
    }

    &__who-item {
        width: 50%;
        cursor: pointer;

        @media screen and (min-width: $mobileBreakpoint) {
            &:nth-child(1):hover {
                path {
                    stroke: $white;
                }
            }
            &:nth-child(2):hover {
                path {
                    fill: $white;
                }
            }
            &:hover .modal-signup__who-item-inner {
                background-color: $primary;
                color: $white;
            }
        }

        input {
            display: none;
            &:checked ~ .modal-signup__who-item-inner {
                background-color: $primary;
                color: $white;

                path {
                    stroke: $white;
                }
            }
        }
        &:nth-child(2) {
            input:checked ~ .modal-signup__who-item-inner path {
                fill: $white;
                stroke: none;
            }
        }
    }

}

.modal-payment {

    &_item {
    }

    &__title {
    }

    &__head {
        display: flex;
        align-items: center;
        margin-bottom: 27px;
        padding: 20px 26px;
        color: $text-2;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        line-height: 22px;
        background-color: rgba(59, 134, 198, 0.1);
        border-radius: 8px;
        img {
            flex-shrink: 0;
        }
        div {
            margin-left: 19px;
            max-width: 380px;
        }
        b {
            font-weight: 800;
        }
    }

    &__caption {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: $text-2;
        span {
            margin-left: 16px;
        }
    }

    &__item {
        margin-bottom: 20px;
    }

    &__field {
        position: relative;
        button {
            position: absolute;
            right: 18px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__input {
        padding: 20px 24px;
        padding-right: 62px;
        width: 100%;
        border: 1px solid #E4E4E4;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    }

    &__btn {
        min-width: 243px;
    }

    &__btn-wrapper {
        text-align: right;
        margin-top: 25px;
    }
}

.modal-vacancy {
    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 12px;
        width: 80px;
        height: 80px;
        padding: 10px;
        background: rgba(59, 134, 198, 0.1);
        border-radius: 14px;
    }

    &__title {
        font-weight: 900;
        font-size: 18px;
        line-height: 23px;
        max-width: 485px;
        margin-bottom: 8px;
    }

    &__text {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 19px;
        font-weight: 400;
        color: $text-2;
    }
}

/**************************\
    Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes mmslideIn {
    from {
        transform: translateY(15%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes mmslideOut {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10%);
    }
}

.micromodal-slide {
    display: none;
}

.micromodal-slide.is-open {
    display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
    will-change: transform;
}
