// *Socials
.socials {
    $offset: 5px;
    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        margin: -$offset;
    }
    li {
        margin: $offset;

        @media screen and (min-width: 1024px) {
            transition: .35s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
// */Socials