.section-info {
    padding-bottom: 53px;
    &__img-wrapper {
        margin-bottom: 22px;
    }
}

.company-info {
    &__description-box {
        margin-top: 28px;
    }
    &__benefits {
        padding-bottom: 5px;
    }
}