.company-content {
    &__title {
        font-weight: 900;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
        color: $primary;
    }

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    &__tabs-buttons {
        display: flex;
    }

    &__tabs-btn {
        position: relative;
        margin-left: 24px;
        color: $grey;
        font-size: 18px;
        line-height: 23px;
        transition: color .3s;

        &:first-child {
            margin-left: 0;
        }

        &::after {
            position: absolute;
            content: "";
            bottom: -9px;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            background-color: $primary;
            border-radius: 53px;
            transition: .3s;
            height: 3px;
        }

        &.active {
            font-weight: 900;
            font-size: 18px;
            line-height: 23px;
            position: relative;
            color: $primary;

            &::after {
                width: 78%;
            }
        }

        @media screen and (min-width: $mobileBreakpoint) {
            &:hover {
                color: $primary;
            }
        }
    }

    &__head-btn {
        margin-left: 15px;
    }
}

.vacancy {
    position: relative;
    background-color: $white;
    border: 1px solid $grey-bg;
    box-shadow: 0px 4px 30px rgba(164, 164, 164, 0.1);
    border-radius: 16px;
    margin-bottom: 16px;
    padding: 28px 16px 35px 40px;

    @media screen and (min-width: $mobileBreakpoint) {
        transition: .3s ease;
        &:hover {
            box-shadow: 0px 4px 35px rgba(164, 164, 164, 0.25);
        }
    }

    &--flex {
        display: flex;
        align-items: center;
        padding-left: 26px;
    }

    &__img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        margin-right: 20px;
        flex-shrink: 0;
        padding: 10px;
    }

    &__buttons {
        position: absolute;
        right: 16px;
        top: 16px;
        display: flex;
    }

    &__btn {
        margin-left: 8px;
        &:first-child {
            margin-left: 0;
        }

        @media screen and (min-width: $mobileBreakpoint) {
            transition: .3s ease;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &__head {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 11px;
        padding-right: 40px;
        max-width: 570px;
    }

    &__info {
        display: flex;
        flex-wrap: wrap;
    }

    &__info-item {
        display: flex;
        align-items: center;
        position: relative;
        color: $grey;
        &:not(:first-child) {
            &::before {
                content: "";
                display: block;
                width: 4px;
                height: 4px;
                background-color: $grey;
                border-radius: 50%;
                margin-left: 6px;
                margin-right: 6px;
            }
        }
    }

    &__tag {
        margin-left: 22px;
    }

    &__title {
        font-weight: 900;
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 10px;
        display: block;
        max-width: 570px;
    }

    &__text {
        font-family: 'Inter', sans-serif;
        color: rgba($text-2, .7);
        margin-bottom: 14px;
        max-width: 570px;
    }

    &__foot-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__foot-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 11px 25px;
        min-width: 167px;
        span {
            background-color: $white;
            padding: 2px 6px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-weight: 600;
            font-family: 'Inter', sans-serif;
            font-size: 12px;
            line-height: normal;
            margin-left: 8px;
            color: $primary;
            border: 1px solid $primary;
        }
    }
    
    &__foot {
        display: flex;
    }

    &__salary {
        font-family: 'Inter', sans-serif;
        color: $primary;
        font-weight: 800;
        font-size: 22px;
        line-height: 27px;
    }

    &__geo {
        display: flex;
        align-items: center;
        margin-left: 25px;

        img, svg {
            flex-shrink: 0;
        }
        
        span {
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            line-height: 19px;
            margin-left: 12px;
        }
    }
}