.experience-box {
    display: flex;
    align-items: center;
    background-color: rgba($secondary, .1);
    border-radius: 12px;
    padding: 12px 17px;

    &--lg {
        padding: 24px;
    }

    &--red {
        background-color: rgba($danger, .1);
    }
    
    &__img {
        width: 24px;
        text-align: center;
    }

    &__content {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        margin-left: 16px;
    }

    &__title {
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
    }

    &__text {
        font-size: 13px;
        line-height: 20px;
    }
}