.page-head {
    background-color: $primary;
    padding: 35px 0;
    display: flex;
    align-items: center;
    min-height: 198px;
    
    &--admin {
        padding: 22px 0;
        align-items: flex-start;
    }

    &__title {
        font-weight: 900;
        font-size: 102px;
        line-height: 128px;
        color: rgba($white, 0.05);
        text-align: right;
    }

    &__btn {
        font-size: 16px;
        margin: 7px;
        @media screen and (min-width: $mobileBreakpoint){
            &:hover {
                path {
                    fill: $white;
                }
            }
        }
    }

    &__btn-wrapper {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        margin: -7px;
    }
}