.section-page {

    &__inner {
        display: flex;
    }

    &__small {
        flex-shrink: 0;
        width: 250px;
        margin-right: 24px;

        &--size-sm {
            width: 243px;
        }

        &--margin-lg {
            margin-right: 45px;
        }
    }

    &__big {
        width: 100%;
        padding-top: 13px;
        &--padding-md {
            padding-top: 21px;
        }
    }
}
