// *Vars
// !Colors
$text: #303757;
$text-2: #43475C;
$grey: #8C8F9F;
$grey-bg: #F8F9FB;
$primary: #3B86C6;
$secondary: #97CA3E;
$white: #fff;
$black: #333;
$danger: #CA573E;
$red: #c51818;
$green: #2e6f1a;
// !/Colors

$mobileBreakpoint: 768px;
// */Vars

body {
    min-width: 320px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4; 
    color: $text;
    background-color: $white;
}

button {
    cursor: pointer;
}

p {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
}

[data-tab-content] {
    display: none;
    &.active {
        display: block;
    }
}

.overflow-hidden {
    overflow: hidden;

    body {
        overflow: hidden;
    }
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;

    &--sm {
        max-width: 850px;
    }
}

.logo {
    display: block;
}

.main-text {
    color: $grey;
    font-size: 22px;
    line-height: 28px;
}

.title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 900;
}

h1.title {
    font-size: 41px;
    line-height: 51px;
}

.section-category {
    display: inline-block;
    min-width: 118px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    background-color: rgba($secondary, .1);
    color: $secondary;
    border-radius: 10px;
}

.preload {
    * {
        transition: none !important;
    }
}
.hidden {
    display: none !important;
}

.tag-box {
    display: inline-block;
    background-color: rgba($secondary, 0.1);
    border-radius: 10px;
    padding: 5px 10px;
    color: $secondary;

    &--red {
        background-color: rgba($red, 0.1);
        color: $red;
    }

    &--flex {
        display: inline-flex;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
        span {
            margin-left: 4px;
        }
    }
}

.worker-extra {
    display: flex;
    flex-wrap: wrap;
    margin: -7px;

    &__item {
        display: flex;
        align-items: center;
        margin: 7px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: $text-2;
        span {
            display: inline-block;
            margin-left: 6px;
        }
    }
}

.primary-list {
    li {
        position: relative;
        margin-bottom: 8px;
        padding-left: 21px;
        &::before {
            content: "";
            position: absolute;
            background: url('../img/diamond.svg') center no-repeat;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 12px;
            height: 12px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.page-inner-container {
    max-width: 830px;
    &--center {
        margin: 0 auto;
    }
}

.page-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 48px;
    &__btn {
        margin-right: 30px;
    }
}

.loader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(250, 252, 255, 0.35);
    z-index: 50;
    &::after {
        position: absolute;
        content: "";
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40px;
        height: 40px;
        background: url('../img/loader.svg') center no-repeat;
        animation: rotating 3s backwards infinite;
    }
}

@keyframes rotating {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}