// *Vars
// !Colors
$text: #303757;
$text-2: #43475C;
$grey: #8C8F9F;
$grey-bg: #F8F9FB;
$primary: #3B86C6;
$secondary: #97CA3E;
$white: #fff;
$black: #333;
$danger: #CA573E;
$red: #c51818;
$green: #2e6f1a;
// !/Colors

$mobileBreakpoint: 768px;
// */Vars

body {
    min-width: 320px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4; 
    color: $text;
    background-color: $white;
}

input, textarea {
    display: inline-block;
    background-color: $white;
    border-radius: 10px;
    padding: 21px 30px;
    border-radius: 16px;
    border: 1px solid #D1D9EA;
    font-size: 16px;
    line-height: 19px;
    color: $text;

    &::placeholder {
        color: $grey;
    }
    // *Дополнительные классы для валидации
    &.invalid {
        color: $red;
        border-color: $red;

        &::placeholder {
            color: $red;
        }
    }
    &.valid {
        color: $green;
        border-color: $green;

        &::placeholder {
            color: $green;
        }
    }
}

textarea {
    min-height: 150px;
}

button {
    cursor: pointer;
}

p {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
}

.overflow-hidden {
    overflow: hidden;

    body {
        overflow: hidden;
    }
}

.container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    display: block;
}

.main-text {
    color: $grey;
    font-size: 22px;
    line-height: 28px;
}

.title {
    font-size: 32px;
    line-height: 40px;
    font-weight: 900;
}

h1.title {
    font-size: 41px;
    line-height: 51px;
}

.section-category {
    display: inline-block;
    min-width: 118px;
    padding: 10px 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    background-color: rgba($secondary, .1);
    color: $secondary;
    border-radius: 10px;
}

.preload {
    * {
        transition: none !important;
    }
}
.hidden {
    display: none !important;
}

.tag-box {
    display: inline-block;
    background-color: rgba($secondary, 0.1);
    border-radius: 10px;
    padding: 5px 10px;
    color: $secondary;

    &--red {
        background-color: rgba($red, 0.1);
        color: $red;
    }

    &--flex {
        display: inline-flex;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
        span {
            margin-left: 4px;
        }
    }
}

.worker-extra {
    display: flex;
    flex-wrap: wrap;
    margin: -7px;

    &__item {
        display: flex;
        align-items: center;
        margin: 7px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: $text-2;
        span {
            display: inline-block;
            margin-left: 6px;
        }
    }
}

.experience-box {
    display: flex;
    align-items: center;
    background-color: rgba($secondary, .1);
    border-radius: 12px;
    padding: 12px 17px;

    &--lg {
        padding: 24px;
    }

    &--red {
        background-color: rgba($danger, .1);
    }
    &__img {
        width: 24px;
        text-align: center;
    }

    &__content {
        font-family: 'Inter', sans-serif;
        font-weight: 400;
        margin-left: 16px;
    }

    &__title {
        font-size: 16px;
        line-height: 19px;
        font-weight: 600;
    }

    &__text {
        font-size: 13px;
        line-height: 20px;
    }
}

.employment-btn {
    display: inline-flex;
    align-items: center;
    border: 0.5px solid #D1D9EA;
    border-radius: 8px;
    padding: 8px 16px;

    img, svg {
        flex-shrink: 0;
    }

    span {
        display: inline-block;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: $primary;
        margin-left: 6px;
    }

    @media screen and (min-width: $mobileBreakpoint) {
        transition: .3s;
        span, path {
            transition: .3s;
        }
        &:hover {
            background-color: $primary;
            border-color: transparent;
            path {
                stroke: $white;
            }
            span {
                color: $white;
            }
        }
    }
}

.page-inner-container {
    max-width: 830px;
    &--center {
        margin: 0 auto;
    }
}

.page-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 32px;
    padding-bottom: 48px;
    &__btn {
        margin-right: 30px;
    }
    
}