@media screen and (max-width: 1160px) {
    .vacancy-content {
        &__about {
            max-width: 200px;
            flex-shrink: 0;
            width: auto;
        }
        &__info {
            width: 100%;
        }
    }
    .company-img-box  {
        display: inline-block;
        &__item {
            width: 180px;
            height: 180px;
        }
    }
    .worker-head {
        &__speciality {
            font-size: 17px;
            line-height: 20px;
        }
        &__name {
            font-size: 27px;
            line-height: 32px;
        }
        &__img-wrapper {
            width: 180px;
            margin-top: -40px;
        }
        &__img--online::after {
            height: 38px;
            width: 38px;
            border-width: 5px;
            right: 17px;
        }
    }
    .experience-box--lg {
        padding: 12px 17px;
    }
    .hero {
        &__content {
            width: calc(62% - 40px);
            margin-right: 40px;
        }
        &__img {
            width: 38%;
        }
    }
    .steps {
        &__list {
            margin: -15px;
        }
        &__item {
            margin: 15px;
            width: auto;
        }
        &__num {
            font-size: 26px;
            line-height: 32px;
        }
        &__item-title {
            font-size: 20px;
            line-height: 26px;
        }
        &__item-text {
            font-size: 16px;
            line-height: 20px;
        }
    }
    .workers__list {
        margin: -12px;
    }
    .worker-item {
        width: calc(50% - 24px);
        margin: 12px;
        &__head {
            align-items: center;
            margin-bottom: 15px;
        }
        &__img img {
            width: 110px;
        }
        &__speciality {
            font-size: 14px;
            line-height: 18px;
        }
        &__name {
            font-size: 16px;
            line-height: 20px;
        }
        &__employment {
            padding: 6px 10px;
            span {
                font-size: 14px;
                line-height: 17px;
            }
        }
        &__extra-item {
            font-size: 13px;
        }
    }
    .page {
        &__container {
            flex-direction: column;
        }
        &__aside {
            width: 100%;
            margin-top: 40px;
        }
        &__content {
            width: 100%;
            margin-right: 0;
        }
    }
}

@media screen and (max-width: 1024px) {
    .section-page {
        &__inner {
            flex-direction: column;
        }
        &__big {
            width: 100%;
        }
        &__small {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;

            &--margin-lg {
                margin-bottom: 0;
            }
        }
    }
    .visit-link {
        font-size: 15px;
        line-height: 18px;
    }
    .company-img-box {
        margin-top: -60px;
        &__item {
            width: 140px;
            height: 140px;
        }
    }
    .company-head {
        &__benefits {
            padding: 20px;
        }
        &__benefits-list li span {
            font-size: 14px;
            line-height: 18px;
        }
        &__benefits-list:first-child {
            margin-right: 10px;
        }
    }
    .page-head {
        min-height: 130px;
        &__title {
            font-size: 78px;
            line-height: 106px;
        }
    }
    .worker-content {
        &__title {
            font-size: 22px;
            line-height: 28px;
            margin-bottom: 12px;
        }
        &__box {
            p {
                font-size: 16px;
                line-height: 22px;
            }
        }
        &__subtitle {
            font-size: 20px;
            line-height: 25px;
        }
    }
    .common {
        &__content {
            width: 62%;
            padding-top: 0;
        }
        &__img {
            width: 38%;
        }
        &__text {
            padding-right: 0;
        }
    }
    .steps {
        &__list {
            flex-wrap: wrap;
            margin: -30px -15px;
        }
        &__item {
            margin: 30px 15px;
            width: calc(50% - 30px);
            max-width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            flex-direction: column;
            &:nth-child(2) {
                max-width: 100%;
                width: calc(50% - 30px);
            }
        }
        &__item-head {
            justify-content: center;
        }
    }
    .main-text {
        font-size: 19px;
        line-height: 25px;
    }
    h1.title {
        font-size: 36px;
        line-height: 48px;
    }
    .title {
        font-size: 30px;
        line-height: 42px;
    }
    .btn--flex {
        padding: 18px 25px;
    }
    .hero {
        &__text {
            margin-bottom: 30px;
        }
    }
}

@media screen and (max-width: 900px) {
    .vacancy-content {
        &__info {
            padding-right: 0;
        }
        &__inner {
            flex-direction: column-reverse;
        }
        &__about {
            max-width: 100%;
            justify-content: center;
        }
    }
    .worker-head {
        &__inner {
            margin: 0;
        }
        &__left {
            margin: 0;
            width: 100%;
            margin-bottom: 30px;
            justify-content: center;
        }
        &__right {
            margin: 0;
            width: 100%;
            background-color: transparent;
            border: none;
            padding: 0;
            box-shadow: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .worker-content {
        &__inner {
            margin: 0;
        }
        &__box {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
            min-height: auto;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    .footer {
        &__inner {
            flex-wrap: wrap;
        }
        &__col--nav {
            margin-left: auto;
            margin-right: 0;
        }
        &__col--logo {
            margin-right: 40px;
        }
        &__col--social {
            margin-left: 0;
            width: 100%;
            margin-top: 30px;
        }
    }
}

@media screen and (max-width: $mobileBreakpoint) { // 768
    .company-info {
        &__logo-btn {
            min-width: auto;
        }
    }
    .form {
        textarea {
            min-height: 150px;
        }
        &__description-head {
            padding-left: 18px;
        }
        &__input, textarea {
            padding: 16px 20px;
        }
    }
    .vacancy-create {
        &__title {
            font-size: 28px;
            line-height: 30px;
        }
    }
    .cv-item {
        flex-direction: column;
        &__categories {
            justify-content: center;
        }
        &__btn {
            width: auto;
            margin: 8px;
            &:first-child {
                margin-bottom: 0;
            }
        }
        &__box {
            padding-right: 0;
        }
        &__img {
            width: 100px;
            height: 100px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__experience-box {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        &__buttons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: -8px;
        }
        &__head {
            margin-bottom: 10px;
            align-items: center;
            justify-content: center;
        }
        &__specification {
            padding-top: 0;
        }
        &__left {
            width: 100%;
            margin-bottom: 30px;
        }
        &__right {
            margin: 0;
            width: 100%;
        }
    }
    .worker-vacancies {
        padding-bottom: 50px;
    }
    .page {
        padding-top: 50px;
    }
    .vacancy-content {
        &__head {
            flex-direction: column;
            align-items: flex-start;
        }
        &__head-left {
            margin-bottom: 20px;
        }
        &__head-right {
            margin-left: 0;
        }
    }
    .page-foot {
        flex-direction: column;
        &__btn {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }
    .visit-link {
        img, svg {
            width: 18px;
        }
    }
    .company-head {
        &__left {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &__right {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
        }
        &__inner {
            margin: 0;
        }
    }
    .page-head {
        padding: 30px 0;
        &__title {
            font-size: 56px;
            line-height: 75px;
        }
    }
    .worker-head {
        &__img-wrapper {
            width: 120px;
            margin-top: -20px;
        }
    }
    .worker-content {
        &__box {
            padding: 15px;
        }
        &__title {
            font-size: 21px;
            line-height: 26px;
        }
        &__subtitle {
            font-size: 18px;
            line-height: 22px;
        }
    }
    .company-item {
        flex-direction: column;
        &__img {
            height: auto;
            margin-bottom: 30px;
        }
        &__content {
            margin-left: 0;
        }
    }
    .page__container {
        padding-bottom: 40px;
    }
    .filter {
        &__title {
            margin-bottom: 15px;
            font-size: 22px;
            line-height: 27px;
        }
        &__subtitle {
            font-size: 17px;
        }
        &__checkbox-text {
            font-size: 15px;
        }
    }
    .workers {
        &__list {
            margin: 0;
        }
    }
    .worker-item {
        width: 100%;
        margin: 0;
        margin-bottom: 15px;
        padding: 15px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .btn {
        padding: 15px 30px;
        font-size: 14px;
    }
    .common {
        padding-top: 30px;
        padding-bottom: 40px;
        &__inner {
            display: block;
        }
        &__img {
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
        }
        &__content {
            width: 100%;
        }
    }
    .header {
        &__menu {
            padding: 60px 20px;
        }
        &__buttons {
            display: flex;
            flex-direction: column;
        }
        &__btn {
            margin-left: 0;
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .navigation {
        ul {
            display: block;
            margin-bottom: 30px;
        }
    }
    .hero {
        &__inner {
            flex-direction: column-reverse;
        }
        &__img {
            width: 100%;
            text-align: center;
        }
        &__content {
            width: 100%;
            margin-right: 0;
        }
        &__buttons {
            align-items: center;
        }
    }
}

@media screen and (max-width: 600px) {
    .worker-vacancies {
        &__title {
            padding-left: 20px;
        }
    }
    .form {
        &__checkbox {
            font-size: 14px;
            line-height: 16px;
        }
    }
    .modal-signup {
        &__who-item-inner {
            padding: 10px;
        }
    }
    .modal {
        &__inner {
            padding: 30px 15px;
        }
        &__close {
            right: 15px;
            top: 30px;
        }
    }
    .company-content {
        &__head {
            flex-direction: column;
        }
        &__tabs-buttons {
            margin-bottom: 30px;
        }
        &__title {
            margin-bottom: 20px;
        }
    }
    .company-img-box {
        margin-top: -40px;
        text-align: left;
        &__item {
            width: 120px;
            height: 120px;
        }
    }
    .vacancy-content {
        &__box-title {
            font-size: 20px;
            line-height: 24px;
        }
        &__img-box {
            text-align: center;
        }
    }
    .company-head {
        padding-bottom: 40px;
        &__left {
            flex-direction: column;
        }
        &__info {
            margin-left: 0;
        }
        &__benefits {
            width: 100%;
            justify-content: space-between;
        }
    }
    .vacancy {
        padding: 20px;

        &__foot-wrapper {
            flex-direction: column;
            align-items: flex-start;
        }
        &__foot-btn {
            margin-top: 20px;
        }
        &__title {
            font-size: 20px;
            line-height: 24px;
        }
    }
    .page-head {
        padding: 15px 0;
        &__title {
            font-size: 47px;
            line-height: 58px;
        }
    }
    .worker-head {
        &__extra {
            justify-content: center;
        }
        &__name {
            font-size: 23px;
            line-height: 28px;
        }
        &__speciality {
            font-size: 16px;
            line-height: 18px;
        }
        &__left {
            flex-direction: column;
            align-items: center;
            margin-bottom: 15px;
        }
        &__img-wrapper {
            margin-right: 0;
            width: auto;
        }
        &__img {
            width: 120px;
            margin-left: auto;
            margin-right: auto;
            &--online::after {
                height: 28px;
                width: 28px;
                border-width: 4px;
                right: 7px;
            }
        }
        &__desc {
            padding-top: 10px;
        }
        &__speciality,
        &__name {
            text-align: center;
        }
    }
    .company-item {
        padding: 20px 15px;
        &__title {
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 8px;
        }
        &__tag {
            margin-left: 0;
        }
        &__head {
            flex-direction: column;
        }
    }
    .filter {
        padding: 0;
        background-color: transparent;
    }
    .filter-category {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 4px;
    }
    .page-search {
        flex-wrap: wrap;
        &__input {
            margin-bottom: 20px;
            width: 100%;
        }
        &__select {
            margin-left: 0;
            width: 100%;
        }
    }
    .steps {
        &__item-head {
            display: block;
        }
        &__item-title {
            margin-left: 0;
        }
    }
} 

@media screen and (max-width: 500px) {
    .form__benefits-item {
        flex-grow: 1;
    }
    .no-vacancy {
        &__inner {
            margin: 0;
        }
        &__img {
            margin: 0;
            margin-bottom: 30px;
            width: 100%;
            text-align: center;
            img {
                max-width: 80%;
            }
        }
        &__content {
            margin: 0;
        }
    }
    .company-head {
        &__benefits {
            justify-content: flex-start;
            flex-direction: column;
        }
        &__benefits-list {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
            &:first-child {
                margin-right: 0;
            }
        }
    }
    .vacancy {
        &__head {
            flex-direction: column;
            align-items: flex-start;
        }
        &__info {
            margin-bottom: 15px;
        }
        &__tag {
            margin-left: 0;
        }
    }
    .footer {
        &__policy-item {
            display: inline-block;
            margin-bottom: 15px;
            margin-left: 10px;
            margin-right: 10px;
        }
        &__col--social {
            font-size: 16px;
        }
        &__col--logo {
            margin-bottom: 30px;
        }
        &__inner {
            display: block;
        }
    }
}

@media screen and (max-width: 400px) {
    .company-info {
        &__img-wrapper {
            width: 100%;
        }
        &__logo-btn, &__btn {
            width: 100%;
        }
    }
    .form {
        &__description-item {
            margin: 3px 6px;
        }
        &__description-col {
            margin: 3px -6px;
        }
    }
    .vacancy-create {
        &__btn {
            width: 100%;
            padding: 15px 30px;
        }
    }
    .vacancy-salary {
        &__types {
            flex-direction: column;
        }
        &__types-item {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__type {
            border: 1px solid $grey;
        }
    }
    .company-cv {
        &__head {
            font-size: 20px;
            line-height: 26px;
            padding: 20px;
            span {
                font-size: 17px;
            }
        }
    }
    .cv-item {
        padding: 20px 15px;
        &__subtitle {
            font-size: 17px;
            line-height: 21px;
        }
        &__categories {
            justify-content: flex-start;
        }
        &__head {
            align-items: center;
            flex-direction: column;
            text-align: center;
        }
        &__specification {
            margin-left: 0;
        }
        &__img {
            margin-bottom: 15px;
        }
        &__btn {
            width: 100%;
        }
        &__experience-box {
            max-width: 100%;
        }
    }
    .page-head {
        &__btn {
            width: 100%;
        }
    }
    .company-content {
        &__head-btn {
            width: 100%;
        }
        &__tabs-btn {
            font-size: 16px;
            line-height: 20px;
            margin: 0;
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__tabs-buttons {
            flex-direction: column;
            margin-bottom: 25px;
        }
    }
    .modal-payment {
        &__btn {
            width: 100%;
            padding: 17px 30px;
        }
        &__head {
            padding: 15px;
            font-size: 16px;
            line-height: 20px;
        }
    }
    .modal-signup {
        &__button {
            padding: 15px;
        }
        &__who {
            flex-wrap: wrap;
        }
        &__who-item {
            width: 100%;
            border-radius: 6px;
            border: 1px solid $grey;
            margin-bottom: 5px;
        }
    }
    .vacancy-content {
        &__btn, &__foot-btn,
        &__head-right {
            width: 100%;
        }
        &__benefits li {
            width: 100%;
        }
    }
    .vacancy {
        &__foot {
            flex-direction: column;
        }
        &__salary {
            margin-bottom: 15px;
        }
        &__geo {
            margin-left: 0;
        }
    }
    .worker-item {
        &__head {
            flex-direction: column;
            text-align: center;
        }
        &__specifications {
            margin-left: 0;
        }
    }
    .steps {
        &__list {
            margin: 0;
        }
        &__img {
            min-height: auto;
        }
        &__item {
            width: 100%;
            margin: 0;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
            &:nth-child(2) {
                width: 100%;
            }
        }
    }
}